<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="row">
        <form class="atd1" ng-controller="attendanceCtrl" ng-submit="submitData()">
            <!-- <center> -->
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <div ng-class=" {'active': isActive}">
                    <!--<div class="col-sm-1"></div>-->
                    <!--<auto-manager autocomplete="allData"></auto-manager>-->
                    <div class="col-sm-10">
                        <input list="list" class="awesomplete form-control input-lg" id="inputlg" type="text" ng-model="message"
                               placeholder="Enter Message..." auto-manager/>
                        <datalist id="list">
                            <option ng-repeat="d in $root.data" value="{{d}}"></option>
                        </datalist>
                        <button class="logButton" ng-click="submitMsg()"></button>
                        <!--<br><strong><p>{{$root.data}}</p></strong>-->
                        <br><strong><p id="selected" style="color:deeppink"></p></strong><br><br>
                        <div ng-hide="showLog">
                            <div ng-include="'/pages/table.html'"></div>
                        </div>
                        <div>
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
