<div class="logo center">
    <img src="images/logo-white.png">
</div>
<form class="form-otp center" name="otp2" id="otp">

    <center>
        <div class="otp">
            <h2 class="form-signin-heading" style="top:4.7em;">Verification</h2>
            <div class="form-group" ng-class="{ 'has-error' : otp2.Otp_Id.$invalid }">
                <input id="Otp-Id" name="Otp_Id" class="form-control" placeholder="Enter OTP" ng-model="otp" required autofocus/>
            <br>
            </div>
            <p ng-show="otp2.Otp_Id.$invalid " class="help-block">OTP is not valid!!</p>
            <button class="btn btn-lg btn-success btn-block" ng-click="verifyOT()" ng-disabled="otp2.$invalid">
                <span ng-hide="dataLoaded">Submit</span>
                <span ng-show="dataLoaded"><i class="fa fa-spinner fa-spin"></i>Loading...</span>
            </button><br>
        </div>
    </center>
</form>
