<div class="log">
    <div class="table-responsive">
        <table>
            <thead>
                <tr ng-repeat="i in data.data">
                    <th ng-repeat="(k,v) in i">{{k}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="val in data.data">
                    <td ng-repeat="(i,value) in val track by $index">
                        <input ng-disabled="val[i]==0" ng-model="val[i]"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

