<div class="log">
    <div class="table-responsive">
        <table>
            <thead>
            <tr ng-repeat="i in data.data">
                <th ng-repeat="(k,v) in i">{{k}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in data.data">
                <td ng-repeat="inModel in val">
                    <input ng-model="inModel">
                </td>
            </tr>
            </tbody>
        </table>
        <!--<button ng-click="submit1()">Confirm</button>-->
        <!--<p ng-repeat="a in data">{{a}}</p>-->
    </div>
</div>

